/*@font-face {
  font-family: 'NorseBold';
  src: local('Norse Bold'), url('path/to/Norse-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}*/
@font-face {
  font-family: Norse-Bold;
  src: url(../fonts/Norse-)
}






/*body {
  font-family: 'NorseBold', sans-serif;
}*/

body{
  margin: 0%;
  padding: 0%;
  font-family: Norse-Bold,sa ;
}
.main{
  display: flex;
  flex-direction: row;
  width: 100vw; 
  height: 100vh;
}

.left {
  /*background-image: url('/images/photo-1585202900225-6d3ac20a6962.jpg');
  background-size: cover; /* Adjust this based on your needs */
 /* width: 35vw; */
 background-image: url(./images/95081915.jpg);
 width: 35vw;
 background-repeat: no-repeat;
 background-size: cover;
 color: white;
}



.right{
  display: flex;
  width: 50vw; 
  flex-direction: column;
  background-color:antiquewhite;
  width: 65vw;

}
.first{
  height: 25vh;
  display: flex;
  justify-content: center; 
  align-items: flex-end;
  margin-left: 5%;
  margin-bottom: 5%;

}
.second{
  height: 40vh;
  background: white;
}
.third{
  height: 40vh;
}
.form-main-div{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    width: 60%;
    justify-content: space-between;
}
 .form-div{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px
   
 }
 .form.divs{
  display: flex;
  justify-content: s;
 }

 input{
  width: 200px;
  border-color: 1px solid #E5E7EB;
  height: 25px;
  border-radius: 3px;

 }
 input:focus{
  border: 1px solid blue;
 }
 input:invalid{
  border: 1px red;
 }